.places{
    text-align: center;
}
.places h1{
    font-size: 30px;
    text-align: left;
}
.article-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.my-container,
.tiny-container,
.suite-container{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 5px;

}
.my-container h2,
.tiny-container h2,
.suite-container h2{
  font-size: 30px;
}
.home-price{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.price{
    color: #ff5a5f;
    border: 4px solid #ff5a5f;
    border-radius: 100%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    font-weight: bolder;


}
.information{
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0px;
}
div .max_guest{
    background-image: url(/web_static/images/guest.png);
}
div .number_rooms{
    background-image: url(/web_static/images/icon_bed.png);
}
div .number_bathrooms{
    background-image: url(/web_static/images/icon_bath.png);
}
.max_guest,
.number_rooms,
.number_bathrooms{
    background-position: top;
    width: 100px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top:60px;
    font-weight: bold;
}
.user,
.description{
    text-align: left;
    padding-top: 15px;

}
.user span{
    font-weight: bold;
}
div .my-container .amenity h2,
div.reviews h2{
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
    padding-bottom: 7px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.amenity-container{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7px 0px;
}
.tv{
    display: flex;
    justify-content: center;
}
.tv-name,
.wifi-name,
.pet-name{
    align-self: center;
    font-size: 25px;
    padding-left: 7px;
}
.reviews ul{
    list-style: none;
    padding: 0px;
}
.reviews ul li h3{
    text-align: left;
    margin: 0px;
    font-size: 14px;
}
.reviews ul li p{
    text-align: left;
    margin-top: 0px;
    font-size: 12px;
}